
.MediaPipePage {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 100vh;
  font-family: Roboto, sans-serif; 
  font-weight: lighter ;
  min-Height: 100vh;
  min-Width: 100vw;
  background: linear-gradient(45deg, rgba(7, 186, 144, 0.752) 85%, transparent 25%) 0 0,
              linear-gradient(-45deg,rgba(7, 186, 144, 0.752) 50%, transparent 25%) 0 0,
              linear-gradient(45deg, transparent 85%,  rgba(7, 186, 144, 0.752) 75%) 0 0,
              linear-gradient(-45deg, transparent 85%,  rgba(7, 186, 144, 0.752) 75%) 0 0;
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px, 0 0, 25px 25px;
  animation: wave 2s linear infinite;
}
.overlayContainer {
    display: flex;
    height: 100vh;
    z-index: 999;
    margin:10px;
    flex-direction: row;
  }
  .MppPageHeader{
    width:20%;
  }
  
  .textInfo {
    width: 90%;
    height: 90%;

    background-color: white;
    color: black;
    font-size: 16px;

    border-radius: 10px;

  }

  .videoFeed{
    margin-top:100px;
    width:70%;
    height: 80%;
  }
  .canvas-container{
    height:70%
  }
  .character-control-panel{
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    padding-left:10px;
  }
  