.container {
    display: block;
    position: fixed;
    top: 25%;
    z-index: 10;
}

.flex {
    display: flex;
    flex-direction: column;
}

.rounded-full {
    border-radius: 50%;
}

.shadow-lg {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.bg-gray-100 {
    background-color: #f7fafc;
}

.shadow-gray-400 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.m-2 {
    margin: 0.5rem;
}

.p-4 {
    padding: 1rem;
}

.cursor-pointer {
    cursor: pointer;
}

.hover\:scale-110:hover {
    transform: scale(1.1);
}

.ease-in {
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}

.duration-300 {
    transition-duration: 300ms;
}