.exercise-header{
  text-align: center;
  font-size: 2rem;
  padding-bottom: 5%;
}

.exercise-categories{
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
  height: 100vh;


  
}
.ExerciseCard{
  height: 100vh;
  overflow: auto;
}

.Exercise{
  display: flex;
  flex-direction: row;
  gap: 3%;
  margin-left: 2%;
  margin-right: 2%;
  overflow: auto;
  margin-bottom: 2%;
}