.home {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    font-family: Roboto, sans-serif; 
    font-weight: lighter ;
    min-Height: 100vh;
    min-Width: 100vw;
    background: linear-gradient(45deg, rgba(7, 186, 144, 0.752) 85%, transparent 25%) 0 0,
                linear-gradient(-45deg,rgba(7, 186, 144, 0.752) 50%, transparent 25%) 0 0,
                linear-gradient(45deg, transparent 85%,  rgba(7, 186, 144, 0.752) 75%) 0 0,
                linear-gradient(-45deg, transparent 85%,  rgba(7, 186, 144, 0.752) 75%) 0 0;
    background-size: 50px 50px;
    background-position: 0 0, 25px 25px, 0 0, 25px 25px;
    animation: wave 2s linear infinite;
  }
  
  @keyframes wave {
    0% {
        background-position: 0 0, 25px 25px, 0 0, 25px 25px;
    }
    100% {
        background-position: 50px 50px, 75px 75px, 50px 50px, 75px 75px;
    }
  }
  canvas {
    background-color: transparent;
  
  }
  .HomepageHeader{
    text-align: center;
    font-size: 80px;
    padding-bottom: 5%;
    margin: 20px;
    display: flex;
    flex-direction: column;
  }
  .HomepageHeader .Welcome{
    font-weight: lighter;
    font-style: Italic;
    font-size: 30px;
  }

  .homepageFoot{
   height: 120px;
  }
  .canvas-container {
    width: 100%; /* Make the container responsive */
    height: 100%; /* Set the container height to 50% of the viewport height */
    position: relative; /* Ensure the canvas is positioned relative to this container */
   }