.header{
    display: flex;
    justify-content: space-between;
    position: fixed; 
    top: 0;
    background-color: rgba(7, 186, 144, 0.752);
    width:100%
}
.signin{
    position: absolute;
    right: 2em;
    top: 6px;
    border-radius: 1px solid white;
}
.logo{
    width: 10rem;
    height: 3rem;
}

.header-menu{
    list-style: none;
    display: flex;
    gap: 2rem;
    color: white;
}

.header-menu>li:hover{
    cursor: pointer;
    color: var(--lightorange);
}

@media screen and (max-width: 767px) {
    .header-menu>li:hover{
        cursor: pointer;
        color: var(--lightorange);
    }
    
    .header>:nth-child(2)
    {
        position: fixed;
        right: 2rem;
        z-index: 99;
    }
    .header-menu{
        flex-direction: column;
        background-color: var(--appColor);
        padding: 2rem;
    }
}
