
.dashboard {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  font-family: Roboto, sans-serif; 
  font-weight: lighter ;
  min-Height: 100vh;
  min-Width: 100vw;
  background: linear-gradient(45deg, rgba(7, 186, 144, 0.752) 85%, transparent 25%) 0 0,
              linear-gradient(-45deg,rgba(7, 186, 144, 0.752) 50%, transparent 25%) 0 0,
              linear-gradient(45deg, transparent 85%,  rgba(7, 186, 144, 0.752) 75%) 0 0,
              linear-gradient(-45deg, transparent 85%,  rgba(7, 186, 144, 0.752) 75%) 0 0;
  background-size: 50px 50px;
  background-position: 0 0, 25px 25px, 0 0, 25px 25px;
  animation: wave 2s linear infinite;
}

@keyframes wave {
  0% {
      background-position: 0 0, 25px 25px, 0 0, 25px 25px;
  }
  100% {
      background-position: 50px 50px, 75px 75px, 50px 50px, 75px 75px;
  }
}


.left {
  flex: 1;
  margin: 10px;
  height: 90%;

}

.right {
  flex: 3;
  margin-right: 10px;
  height: 90%;
  display: flex; 
  flex-direction: column; 

  justify-content: space-between;
}
.connection{
  font-size:10px;
  margin-right: auto;
  width:100%;
}
.connection img{
  width: 10px;
  height: 10px;
  margin-right: 8px;
  margin-bottom: 3px;
}
.connected-text{
  display: flex;
  flex-direction: row; 
  align-items: center;
  color:lightgreen
}
.disconnected-text{
  display: flex;
  flex-direction: row; 
  align-items: center;
  color:darkgray
}
.container {
    border-radius: 10px;
    background-color: rgb(34, 39, 44);
    color: white ;
    font-weight: lighter;  
}
.container h3{
  font-size: 16px;
  font-weight: lighter;
  margin-left: 10px;
}
.small{
  display: flex;
  flex-direction: row; 
  align-items: center;
}
.small img{
  width: 40px;
  height: 40px;
  margin-right: 20px;
}



.metric-text {
  display: flex;
  flex-direction: column;
  margin-top:10px;
  font-size:  max(0.6vw, 11px);
 
}
.bmi-label {
  margin:0px;
}

.bmi-value {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.bmi-value p {
  margin: 0px;

}
.bmi-value img{
  width:  20px;
  height: 20px;
  margin: 0px;
}
.right .container {
  margin-right:  15px;
  font-size:     13px;
}

.large {
  width:     100%;
  height:    100%;
}

.medium {
  width: 100%;
  height: 100%;
}

.small {
  width: 100%;
  height:100%;
  font-size: 14px;
}

.long {
  width: 100%;
  height: 240px;
}

.row-1{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 10px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.row-2{
    display: flex;
    flex-direction: row;
    margin: 10px;
    margin-bottom: 10px;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}

.row-3{
    display: flex;
    flex-direction: row;
  
    /* flex-wrap: wrap; */
    justify-content: space-between;
}

.personal-info{
  display: flex;
  flex-direction: column;
  align-items: start ;
}
.info img {
  width:  20px;
  height: 20px;
  margin: 3px ;
}

.icon-part{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon img{
  padding: 30px;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.name{

}

.userId{
  color:#f59425;
  font-size: 13px;
}

.info{
  display: flex;
  flex-direction: row;
  /* font-size: 13px; */
  font-size:  max(0.8vw, 13px);
  align-items: center;
  padding: 2px;
  margin-left: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.info p {
  margin-left: 10px;
}


/* Bar chart */

#animations-example-3 {
  width: 75%;
  min-width: 80%;
  max-width: 100%;
  height: 190px;
  margin: 0 auto;
}
#animations-example-3 table{
  margin-top: 20px;
}
#animations-example-3 .column {
  --aspect-ratio: 4 / 3;
}
#animations-example-3 .column tbody {
  overflow-y: hidden; 
  /* remove this to see how it works */
}

#animations-example-3 .column tbody th {
  background-color: #2b2626;
  z-index: 1;
  font-weight: lighter;
  font-size:  0.8vw;
  
}
#animations-example-3 .column tbody td {
  animation: moving-bars 4s linear infinite;
  border-radius: 10px;
}
@keyframes moving-bars {
  0%  { transform: translateY( 100% ); }
  30% { transform: translateY( 0 ); }
}
/* -------------------------------- */





.program-progress{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  margin: 10px;;
  justify-content:space-evenly

}
.its-program{
  width:40%;
  font-size:  max(0.6vw, 11px);
  color: rgb(53, 217, 184);
}
.its-progress {
  width:80%;

}
























/*-----MuliGraph-----------*/


#stock-chart-example-2 {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 50px 1fr 50px;
  grid-template-rows: 200px 50px 50px;
  grid-template-areas: 
    "data-1-axis  stocks       data-2-axis"
    "data-1-axis  volume       data-2-axis"
    "primary-axis primary-axis primary-axis";

  width: 100%;
  height: 20px;

}

#stock-chart-example-2 td{
  --start: 0.3; 
  --size: 0.4;
}


#stock-chart-example-2 .area,
#stock-chart-example-2 .line {
  grid-area: stocks;
  width: 100%;
  margin-bottom: 90px;
}
#stock-chart-example-2 .column {
  --aspect-ratio: 12 / 1;
  grid-area: volume;
  margin-bottom: 200px;
  margin-right: 400px;
  width: 100%;
}
#stock-chart-example-2 .column tbody tr{
  margin-block-start: auto;
  height: 100%;
}

#stock-chart-example-2 .column td {
  width:10px;
  transition-duration: 0.3s;
  opacity: 0.5;
}
#stock-chart-example-2 .column td:hover{
  opacity: 1;
}





#stock-chart-example-2 .primary-axis {
  grid-area: primary-axis;
  margin-bottom: 220px;
  font-size:  max(0.6vw, 12px);
}
#stock-chart-example-2 .data-1-axis {
  grid-area: data-1-axis;
  writing-mode: tb-rl;
  transform: rotateZ(180deg);
  margin-bottom: 100px;
  font-size:  max(0.6vw, 12px);
}
#stock-chart-example-2 .data-2-axis {
  grid-area: data-2-axis;
  writing-mode: tb-rl;
  margin-bottom: 100px;
  font-size:  max(0.6vw, 12px);
}
/* Colors */
#stock-chart-example-2 .area {
  --color: linear-gradient(#99e, rgba(0, 0, 0, 0));
}
#stock-chart-example-2 .line {
  --color: #fc1;
}
#stock-chart-example-2 .column tr:nth-child(even) {
  --color: #e88;
  opacity: 0.5;
}
#stock-chart-example-2 .column tr:nth-child(odd) {
  --color: #8c8;
  opacity: 0.5;
}







/*---------------------------------------------------