
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background: linear-gradient(45deg, rgba(7, 186, 144, 0.752) 85%, transparent 25%) 0 0,
                linear-gradient(-45deg,rgba(7, 186, 144, 0.752) 50%, transparent 25%) 0 0,
                linear-gradient(45deg, transparent 85%,  rgba(7, 186, 144, 0.752) 75%) 0 0,
                linear-gradient(-45deg, transparent 85%,  rgba(7, 186, 144, 0.752) 75%) 0 0;
    background-size: 50px 50px;
    background-position: 0 0, 25px 25px, 0 0, 25px 25px;
    animation: wave 2s linear infinite;
}

@keyframes wave {
    0% {
        background-position: 0 0, 25px 25px, 0 0, 25px 25px;
    }
    100% {
        background-position: 50px 50px, 75px 75px, 50px 50px, 75px 75px;
    }
}

  
  .login-form {
    width: 400px;
    padding: 40px;
    border: 1px solid #dbdbdb;
    background-color: #fff;
  }
  
  .login-heading {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .login-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dbdbdb;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #0dce8dbf;
    color: #fff;
    border: none;
    border-radius: 9px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-or {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }
  
  .login-line {
    flex-grow: 1;
    height: 1px;
    background-color: #dbdbdb;
  }
  
  .login-or-text {
    margin: 0 10px;
    font-weight: bold;
    color: #0c0c0c;
  }
  
  .login-options {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-option {
    padding: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
    color: #0095f6;
    font-size: 14px;
    cursor: pointer;
  }
  
  .login-signup {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #2f2f2f;
  }
  
  .signup-link {
    color: #0041e6;
    text-decoration: none;
  }