
.loginRegisterPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    min-Height: 100vh;
    min-Width: 100vw;
    background: linear-gradient(45deg, rgba(7, 186, 144, 0.752) 85%, transparent 25%) 0 0,
                linear-gradient(-45deg,rgba(7, 186, 144, 0.752) 50%, transparent 25%) 0 0,
                linear-gradient(45deg, transparent 85%,  rgba(7, 186, 144, 0.752) 75%) 0 0,
                linear-gradient(-45deg, transparent 85%,  rgba(7, 186, 144, 0.752) 75%) 0 0;
    background-size: 50px 50px;
    background-position: 0 0, 25px 25px, 0 0, 25px 25px;
    animation: wave 2s linear infinite;
   
}

@keyframes wave {
    0% {
        background-position: 0 0, 25px 25px, 0 0, 25px 25px;
    }
    100% {
        background-position: 50px 50px, 75px 75px, 50px 50px, 75px 75px;
    }
}

.biggerForm.flipped{
  width: 60%;
  min-width: 700px;
  height: 95%;
}
  .biggerForm {
    background-color: rgba(0,0,0,0.4);
    width: 30%;
    min-width: 500px;
    padding: 40px;
    border: 1px solid #ff8d58;
    /* background-color: #fff; */
    /* border: 2px solid var(--lightorange); */
    border-radius: 10px;
    perspective: 800px;
    position: relative;
    transition: transform 0.5s;
    animation: glowing-border 2s infinite;
  }
  @keyframes glowing-border {
    0% {
        border-color: var(--lightorange);
        box-shadow: 0 0 5px var(--lightorange), 0 0 10px var(--lightorange), 0 0 15px var(--lightorange), 0 0 20px var(--lightorange);
    }
    50% {
        border-color: #ffa07a; /* A lighter shade of orange for the glow effect */
        box-shadow: 0 0 120px #ffa07a, 0 0 20px #ffa07a, 0 0 30px #ffa07a, 0 0 40px #ffa07a;
    }
    100% {
        border-color: var(--lightorange);
        box-shadow: 0 0 5px var(--lightorange), 0 0 10px var(--lightorange), 0 0 15px var(--lightorange), 0 0 20px var(--lightorange);
    }
}
  
  
  .flipped {
    transform: rotateY(-180deg);
  }
  .register-form {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    color:white;
    height: 100%;
 
  }

  .regForm-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    
  }
  
  .regForm-left {
    width: 50%;
    font-size: 12px;
  }     
  .regForm-right {
    width: 50%;
    margin-left: 20px;
    height: 90%;
    
  }
  .regForm-left input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
  }
  .regForm-left input[type="text"]:focus,
  .regForm-left input[type="password"]:focus,
  .regForm-left input[type="number"]:focus {
    outline: none;
    background-color: #e6e6e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: black;
  }
  
  .regForm-right .regForm-left input[type="number"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
    
  }
  
  .regForm-right input[type="text"]:focus,
  .regForm-right input[type="password"]:focus,
  .regForm-right input[type="number"]:focus {
    outline: none;
    background-color: #e6e6e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    color: black;
  }

.regForm-left label,
.regForm-right label {

  margin-bottom: 30px;
  font-weight: lighter;
  color: white;
  /* font-size: 12px; */
}

/*  */
/* .regForm-left input[type="text"]:-webkit-autofill:focus,
.regForm-left input[type="password"]:-webkit-autofill:focus,
.regForm-left input[type="number"]:-webkit-autofill:focus {
  background-color: transparent;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.regForm-right input[type="text"]:-webkit-autofill:focus,
.regForm-right input[type="password"]:-webkit-autofill:focus,
.regForm-right input[type="number"]:-webkit-autofill:focus {
  background-color: transparent !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s, box-shadow 0.3s;
} */


  .login-heading {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
    font-style: italic;
    font-weight: border;
  }
  
  .login-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dbdbdb;
    color: white;
    border-radius: 4px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .login-input:focus{
    /* background-color: rgb(255, 255, 255); */
    color:rgb(0, 0, 0);
    background-color: rgb(255, 255, 255) !important;
  }
  .login-input:-webkit-autofill:focus{
    background-color: rgba(0, 0, 0, 0.5) !important;
    color:black;
  }
  
  .login-button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #2dffb9d6;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 9px;
    font-size: 16px;
    cursor: pointer;
  }
  .register-button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #3df0fabf;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 9px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .login-or {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }
  
  .login-line {
    flex-grow: 1;
    height: 1px;
    background-color: #dbdbdb;
  }
  
  .login-or-text {
    margin: 0 10px;
    font-weight: bold;
    color: #ffffff;
  }
  
  .login-options {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .login-option {
    padding: 10px;
    margin-bottom: 10px;
    background-color: transparent;
    border: none;
    color: #0095f6;

    font-size: 14px;
    cursor: pointer;
  }
  
  .login-signup {
    margin-top: 10px;
    text-align: center;
    font-size: 14px;
    color: #2f2f2f;
  }
  
  .signup-link {
    color: #0041e6;
    text-decoration: none;
  }